


/*  */

.body__bg-container{
    background-image: linear-gradient(rgba(64, 6, 97, 0.4), rgba(64, 6, 97, 0.4)),url(../img/main/bg_header.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 65em;

    display: flex;
    position: relative;
    z-index: 0;
}
.body__bg-title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    top:22%;
    left:50%;

    transform: translateX(-50%);
    position: absolute;
    width:100%;

    color: white;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.body__bg-title-sub{
    font-family: beyond;
    font-weight: 700;
    font-size:40px;
}





.body__bg-title-btn--text{
    font-size: 16px;
    font-weight: 400;
   
}



.body-filter-container{
    background-image:var(--linear-color) ;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 20px; */
}
.body-filter__service-container{
    display: flex;
    flex-direction:column;
    align-items:center;
    gap: 10px;
    padding-top: 50px;
    margin: 0 auto 2em;

}
.body-filter__service-container,
.body-filter__placefilter-container{
    width: 100%;
}
.body-filter__service-item{
    width: 100%;
    height: 70px;
    background-color: var(--white-color);
    /* background-color: var(--orange-color); */
    color: var(--orange-color);
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease
}
.body-filter__service-item.active{
    background-color: var(--orange-color);
    color: var(--white-color);
}
.body-filter__service-item.active .body-filter__service-item--text{
    color: var(--white-color);

}
.body-filter__service-item:hover .body-filter__service-item--icon,
.body-filter__service-item:hover .body-filter__service-item--text{
color: var(--white-color);

}
.body-filter__service-item:hover{
    background-color: var(--orange-color);

}
.body-filter__service-item--text{
    color: black;

}

.body-filter__service-item{
    display: flex;
    justify-content:center;
    align-items:center;
    gap: 10px;
    border: 1px solid #fff
}
.body-filter__service-item--icon{
    font-size: 25px;
}
.body-filter__placefilter--checkin__item-title{
    font-size:13px;
    font-weight:700;
    color: var(--white-color)
}
.body-filter__placefilter--checkin__item input{
    height:46px;
    width: 100%;
    border: none;
    outline: none;
    margin: 1em 0;
    padding:0 1em;

    color: #929191;
    font-size:13px;
    font-weight: 600;
}
.body-filter__placefilter--checkin__item-wrap{
    display: flex;
    gap: 10px;
    width: 100%
}
.body-filter__placefilter--checkin__item{
    width: 100%;

}
.body-filter__placefilter--checkin__item-list{
    width: 100%;
    height: 46px;
    padding:1em;
    margin :1em 0;

    background-color: white;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    /* position: relative; */
    z-index: 1;
    color: #9f9e9e
}

.body-filter__placefilter--checkin__item__arrow{
    position: relative;
}
.body-filter__placefilter--checkin__item__arrow::after{
    content:"";
    display: block;
    height: 7px;
    width: 7px;

    border-right: 2px solid #9f9e9e;
    border-bottom: 2px solid #9f9e9e;
    transform: rotate(45deg);
    
    position:absolute;
    top: 50%;
    right: 10px;
    z-index: 33;
}
.body-filter__placefilter--checkin-btn-wrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end

}
.body-filter__placefilter--checkin-btn{
    background-color:#31124b ;
    margin: 30px 0;
    transition: all 0.3s ease
}
.body-filter__placefilter--checkin-btn:hover{
    background-color:#55287a ;


}
.body-filter__placefilter--checkin-btn-text{
    color: var(--white-color);
    font-size: 15px;
    line-height:53px;
    font-weight: 700;

}

/* section intro */
.body-intro-container{
    text-align: center;
    padding: 55px 20px 0;
    margin: 0 auto
}
/* title */
.body-intro-title{
    /* text */
    font-size: 26px;
    font-weight: 700;
    /* display,box modal */
    margin: 40px;
}
.body-intro-description-row{
    font-size: 16px;
    font-weight: 400;
    color:#a7a6a6
}

/* tag sale */

/* container */
.body-tagsale-container{
    margin-top:50px
}
.body-tagsale-row{
    /* position */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap: 50px;
    width: 100%;

    /* padding: 0 20px */
}
/* item */
.body-tagsale-col{
     /* position */
     flex-grow: 1;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content:center;
     width:100%;

     position: relative;
     /* text */
     text-align: center;
     /* display */
     /* background-image: url(../img/tagsale/xintro_1.jpg.pagespeed.ic.vc2WNRX2pm.webp) ; */
     background-position:center ;
     background-repeat: no-repeat;
     background-size: cover;
    }
 
    .body-tagsale-item-opacity{
    /* display */
    background-color: rgba(64, 6, 97, 0.4);
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
}

.body-tagsale-item-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
    padding: 36px;
    /* width: 300px; */
}
/* tag time */
.body-tagsale__tagtime{
    /* text */
    font-size: 13px;
    padding: 5px 0;
    font-weight: 400;
    color: #fff;
    text-align: center;
    /* background */
    border-radius: 50px;
    background-color: var(--orange-color);

    margin:0 auto;
    width: 200px
}
/* title */
.body-tagsale__tagname--title{
/* text */
font-size: 36px;
font-weight: 700;
color:#fff
}
.body-tagsale__tagname--price{
    color: white
}



/* btn */
.body-tagsale__btn{
    /* background-image: var(--linear-color);    */
    /* position:relative; */
    z-index: 1;
    width:200px;
    margin: 0 auto
}
.body-tagsale__btn::after{
    /* background-image: var(--linear-color-reverse); */
    /* opacity: 0; */
    border-radius: 50px;

    /* content:""; */
    height:100%;
    width: 200px;
    /* position:absolute; */
    top:0;
    left:0;

    z-index: -1;
    /* transition: all 0.3s ease; */
}
.body-tagsale__btn:hover:after{
    opacity: 1;
}
.body-tagsale__btn-text{
    padding:0;
    
    font-size: 13px;
    font-weight: 700;
    color: white;
    line-height:44px
} 

/* package */
.body-package-container{
    width: 100%;
    padding: 123px 20px;
    margin-top:132px ;
    /* background */
    background-image:linear-gradient(to right, rgba(250, 158, 27,0.7),rgba(143, 80, 251,0.7)),url(../img/package/xcta.jpg.pagespeed.ic.m69gPEowgD.webp);
    background-position: center;
    background-size: cover;
    
}
.body-package-content-wrap{
    background-color: white;
    text-align: center;
    padding: 75px 20px;
    margin:0 auto;
}
/* title */
.body-package-content-title{
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

/* description */
.body-package-content-description--wrap{
    /* text */
    font-size: 13px;
    font-weight: 600;
    color:var(--gray-color);
    line-height:2.29;
    /* position */
    margin-top: 25px;
    display:flex;
    flex-direction: column;
}
.body-package__btn-wrap{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.body-package__btn{
    /* background-image: var(--linear-color); */
    width: fit-content;
    /* position: relative; */
    z-index: 1;
    /* text */
    font-size: 13px;
    font-weight: 700;
    line-height:44px;
}

.body-package__btn::after{
    /* background-image: var(--linear-color-reverse); */
    /* opacity: 0; */
    /* border-radius: 50px; */

    /* content:""; */
    /* height:100%;
    width: 100%; */
    /* position:absolute; */
    /* top:0; */
    /* left:0; */

    /* z-index: -1; */
    /* transition: all 0.3s ease; */
}
.body-package__btn:hover:after{
    opacity: 1;
}
.body-package__btn-text{
    color: white
}

/* offer */
.body-offer-container{
    background-color:#f3f6f9
}
/* title */
.body-offer__title{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding:95px 0 75px 0
}
.body-offer__tag--item{
    /* margin-bottom: 70px; */
    /* flex-direction:column; */
}
.body-offer__tag--item__pic{
    /* min-height: 100%; */
    /* height: 100%; */
    height: calc(100vw - 30px);
    width:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position:relative;
}
.body-offer__tag--item-name{
    background-color: var(--orange-color);
    padding:5px 30px;
    position: absolute;
    left: 0;
    bottom:30px;
    cursor: pointer;
}
.body-offer__tag--item-name a{
    text-decoration: none;
    color:white;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    
}

/* content */
.body-offer__tag-container{
    margin:0 auto
}
.body-offer__tag--item__description-wrap{
    margin:20px;
}
.body-offer__tag--item__description-price-num{
    font-size:36px;
    line-height:25px;
    font-weight: 700;
    color:var(--orange-color)
}
.body-offer__tag--item__description-price-text{
    font-size: 14px;
    line-height:25px;
    font-weight: 400;
    color:var(--gray-color);
    margin-left: 10px;
}
.body-offer__tag-container{
    padding: 0 0 .1em 0
}
.body-offer__tag__content{
    font-size:14px;
    line-height:2;
    font-weight:400;
    color: var(--gray-color);
    margin:25px 0
}

/* icon */
.body-offer__tag__icon-wrap span{
    margin-right:15px;
    
}

.body-offer__tag__btn{
    font-size: 13px;
    font-weight: 700;
    padding:70px 0 0 0 ;
    cursor: pointer;
    
}
.body-offer__tag__btn-content{
    transition: all 0.3s ease
}
.body-offer__tag__btn-content:hover{
    color:var(--orange-color)
}

/* reaction */

.body-reaction-title{
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    margin:95px 0;
    text-align: center;
}

/* tag */
.body-reaction-tag__container{
    display: flex;
    flex-direction: column;
    gap: 4em;
   
}
.body-reaction-tag__item-wrap{
    height: calc(100vw + 50px);
    position: relative;
 /* background */
 background-position: center center;
 background-repeat: no-repeat;
 background-size: cover;
}
.body-reaction-tag__item-wrap:last-child{
    display: none;
}
.body-reaction-tag__icon{
    /* position */
    position: absolute;
    top: -2.3em;
    left:3em;
    /* text */
    display: flex;
    justify-content: center;
    align-items: center;
    /* display */
    width:73px;
    height:72px;
    border-radius: 50px;
    /* color */
    background-color:var(--orange-color);


}
/* tag name */


.body-reaction-tag__description-wrap{
    position: absolute;
    bottom: 0;
    height : 50%;
    background-color:rgba(49, 18, 75, .8);
    /* position */
    display: flex;
    justify-content: center;
    padding: 44px 35px 0 40px

}
.body-reaction-tag__description-guest{
    padding: 10px 20px;
    background-color: var(--white-color);
    position:absolute;
    bottom:100%;
    left: 40px;
    transform: translateY(50%)
}


.body-reaction-tag__description-guest--name{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.body-reaction-tag__description-guest--date{
    font-size: 11px;
    font-weight: 400;
}
/* detail */
.body-reaction-tag__description--rating-title{
    font-size: 20px;
}
.body-reaction-tag__description--rating-detail{
    line-height:2;
    margin-top: 11px;
    font-size: 14px;
    
}
.body-reaction-tag__description--rating-wrap{
    font-weight: 500;
    color: white;

}

/* line break */
.body-line-break{
    height: 2px;
    width:100%;
    background-image: var(--linear-color);
    display: block;
    margin: 72px 0 57px 0;
}


/* trending */

.body-trending__title{
    text-align:center;
    text-transform: uppercase;
    font-size:30px;
    font-weight: 700;
    margin-bottom: 50px;
}


/* item */
.body-trending-item-wrap{
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    align-items:center;
    margin-bottom: 3em;

    cursor: pointer;
}
.body-trending-item__pic img{
    transition: all 0.5s ease

}
.body-trending-item-wrap:hover .body-trending-item__pic img{
    transform: rotate(10deg) scale(1.2,1.2);
    
}
.body-trending-item__pic{
    overflow: hidden
}

.body-trending-item__content--title{
font-size: 16px;
font-weight:700;
text-transform: uppercase;
cursor: pointer;
transition: all 0.3s ease

}
.body-trending-item__content--title:hover{
    color:var(--orange-color)
}
.body-trending-item__content--price{
    font-size:14px;
    font-weight:700;
    color: var(--orange-color)
}
.body-trending-item__content--location{
    font-size: 14px;
    font-weight:400;
    text-transform: uppercase;
    line-height:22px;
}

.body-trending__item-container{
    display: grid;
    grid: repeat(6,1fr)/repeat(2,1fr);
    justify-content:center;
    height:45em;
    margin:0 auto;
}
/* contact */
.body-contact-container{
    background-position:center center ;
    background-repeat:no-repeat;
    background-size: cover;
    padding: 60px 20px;
    transform: translateY(2em);
}
.body-contact-info-wrap{
    margin:0 auto
}
.body-contact-info-container{
    background-image: var(--linear-color);
    padding:70px 45px;
    border-radius:7px;
    margin:0 auto
}
.body-contact-info__title{
    font-size: 30px;
    font-weight: 700;
    color:var(--white-color);
    text-transform: uppercase;

}
/* input */
.body-contact-info__input{
    margin-top:45px
}
.body-contact-info__input ::placeholder{
    color:var(--white-color)
}
.body-contact-info__input--item input,
.body-contact-info__input--item textarea,
.body-contact-info__input--item,
.body-contact-info__input--item-wrap{
    width:100%
}
.body-contact-info__input--item input,
.body-contact-info__input--item textarea{
    height:48px;
    /* text */
    font-size: 12px;
    font-weight: 400;
    color:var(--white-color);
    /* display */
    border:none;
    border-bottom: solid 2px #e1e1e1;
    outline: none;
    background: transparent;
    margin-bottom: 1em;
}
.body-contact-info__input--item textarea{
    height: 155px;
    margin-bottom: 45px;
}
.body-contact-info__input--item-wrap{
    display: flex;
    gap: 1em
}

.body-contact__btn-wrap{
    display: flex;
    justify-content: flex-start
}
.body-contact__btn{
    background-color: #31124b;
    color: var(--white-color);
    font-size:13px;
    font-weight: 700;
    transition: all 0.3s ease
}
.body-contact__btn:hover{
    opacity:0.8
}
.body-contact__btn-text{
    padding: 0 15px;
}

.footer-container{
    padding-top:60px

}
@media screen and (min-width:478px){
   .body__bg-title-container{
       font-size: 50px;
       font-weight: 900;
       /* line-height:0 */
   }
   .body__bg-title-sub{
    font-size: 70px;
   }

   .body-filter__service-container{
       display: grid;
       grid-template: repeat(3,1fr)/repeat(2,1fr);
   }

   /* intro */
   .body-intro-title{
       font-size:30px;
   }
   .body-intro-description-row{
       font-size: 20px
   }
   /* intro tag */
   .body-tagsale__tagname--title{
       font-size: 59px;
   }
   /* package */
   .body-package-content-title{
       font-size: 30px;
   }
   .body-package-content-wrap{
       padding: 75px 80px
   }
   /* package tag */
   .body-offer__tag--item{
       display: flex;
       padding-bottom: 70px;
       /* flex-direction:column; */
   }
   .body-offer__tag--item__description-wrap{
       width: fit-content
   }
   .body-offer__tag--item__pic{
       height:unset
   }

   /* trending */
   .body-trending-item-col{
       display: flex;
       gap: 10px
   }
   .body-trending__item-container{
       height: 27em
   }
   .body-contact__btn-text{
    padding: 0 30px;
}
  
}
@media screen and (min-width:657px){
 /* reaction */
 .body-reaction-tag__container{
    /* display:flex; */
    flex-direction: row;
    gap:10px;
    margin:0 auto
}
.body-reaction-tag__item-wrap{
    width: 100%;
    height: calc(100vw - 13em);
}
}
@media screen and (min-width:740px){
    /* .grid{
        max-width: 663px;
    } */
    .body-filter__placefilter-container{
        display: grid;
        grid-template: repeat(2,1fr)/repeat(2,1fr) ;
        gap: 20px
    }
    .body-filter__placefilter--checkin-btn-wrap{
        grid-column: 2;
    }
    .body-filter-container{
        padding-bottom: 18px;
        position:relative;
    }
    .body-filter__placefilter--checkin-btn{
        position:absolute;
        bottom:-55px
    }

    .body-reaction-tag__item-wrap{
        max-height: 28em;
    }
    /* trending */
    .body-trending__item-container{
        grid-template:repeat(2,1fr) / repeat(3,1fr)
    }
}
@media screen and (min-width:1024px){
    .header-nav-list{
        display: flex
    }
    .body__bg-title-main{
        font-size: 102px;
    }
    .body__bg-title-sub{
        font-size: 90px;
    }

    /* service */
    .body-filter__service-container{
        display: flex;
        flex-direction: row;
        position: absolute;
        top: -9em;
        gap:0;
    }
    .body-filter__service-item{
        width: 238px;
        height:95px;
        border:none
    }
    .body-filter__service-item:first-child{
        border-top-left-radius: 94px;
    }
    .body-filter__service-item:last-child{
        border-top-right-radius: 94px;
    }
    /* filter */

    .body-filter__placefilter-container{
        display: flex;
        padding: 10px 0
        
    }
    .body-filter__placefilter--checkin-btn{
        position: unset;
    }
    .body-filter__placefilter--checkin__item:nth-child(1) .body-filter__placefilter--checkin__item-input{
        min-width: 318px;
    }
    .body-filter__placefilter--checkin__item:nth-child(2) .body-filter__placefilter--checkin__item-input,
    .body-filter__placefilter--checkin__item:nth-child(3) .body-filter__placefilter--checkin__item-input{
        min-width: 145px;
    }
    .body-filter__placefilter--checkin__item__arrow:nth-child(1) .body-filter__placefilter--checkin__item-input,
    .body-filter__placefilter--checkin__item__arrow:nth-child(2) .body-filter__placefilter--checkin__item-input{
        min-width: 71px;
    }
    .body-filter__placefilter--checkin__item::after{
        top:42%

    }
    .body-filter__placefilter--checkin-btn-wrap{
        width: 134%;
        font-size: 14px;
    }
    .body-filter__placefilter--checkin-btn-text{
        padding: 0 37px
    }
    .body-tagsale-row{
        display:flex;
        flex-direction: row;
        gap: 24px
    }
    .body-tagsale-col{
        width: 307px;
    }
    /* offer */
    .body-offer__tag-container{
        display: grid;
        grid-template: repeat(2,1fr)/repeat(2,1fr);
    }
    /* reaction */
    .body-reaction-tag__item-wrap:last-child{
        display: block
    }
    /* trending */
    .body-trending__item-container{
        grid-template:repeat(2,1fr)/repeat(4,1fr) ;
       height: 20em

    }
    .body-contact-info-container{
        width: 554px;
        margin: 0 0 0 auto
    }
   
}

@media screen and (min-width:1240px){
    .body__bg-title-main{
        font-size: 115px;
    }
    .body__bg-title-sub{
        font-size: 100px;
    }
    .body-contact-info-container{
        width: 689px;
    }


}